.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #235088;
    color: white;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 165px;
    height: auto; 
    margin-right: 10px;
  }
  
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .right ul {
    list-style-type: none;
    display: flex;
  }
  
  .right li {
    margin-right: 20px;
  }
  
  .right a {
    text-decoration: none;
    color: white;
  }

  @media (max-width: 768px) {
    .left {
      width: 100%;
      text-align: center;
    }
  
    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }
  
    .right ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      width: 100%;
    }
  
    .right li {
      margin: 5px 0;
    }
  
  }
  